<div class="row">
  <%= render 'layouts/nav' %>
  <div id="search-container">
    <div class="form-group" id="search-box"> 
        <%= form_tag discover_path, { :method => :get, :class => "form-inline", :remote => true }  do %> 
          <%= label_tag :filmetric_score, "Flimetric", :class => "sr-only" %>
          <%= select_tag :filmetric_score, options_for_select((1..100).to_a), :class => "form-control input-lg", :id => "categories" %>

          <%= label_tag :genre, "Genre", :class => "sr-only" %>
          <%= select_tag :genre, options_from_collection_for_select(@genres, "id", "name"), :class => "form-control input-lg", :id => "categories"  %>
          
          <%= submit_tag "Search", :class => "btn btn-lg btn-primary", :id => "search-button" %>
        <% end %>
    </div>
  </div>
</div>