<div class="row">
  <%= render 'layouts/nav' %>

  <div class="col-md-7" id="data-container">
    <h1><%= @movie.title %></h1>
      
    <%= render 'score_box' %>

    <div id="item-data">
      <h2>Info</h2>
        <%= render 'info_box' %>
      <h2>Genres</h2>
      <ul>
        <%= render @movie.genres %>
      </ul>
      <h2>Actors</h2>
      <ul>
        <%= render @movie.actors %>
      </ul>
    </div>
  </div>

  <div id="poster-container" class="col-md-4">
    <img src="<%= @movie.poster_link %>" class="img-responsive poster">
  </div>
</div>
