<div class="row">
  <div class="col-md-4">

    <%= render 'layouts/nav' %>

    <div id="director-data">
      <h1><%= @director.name %></h1>

      <span id="director-filmetric"><%= @director.filmetric %></span>

      <h2>Movies</h2>
      <ul>
        <%= render 'layouts/movie_list' %>
      </ul>

    </div>
  </div>

  <div class="col-md-8">
    <div id="chart">
     <%= render 'layouts/graph', resource: @director %>
    </div>
  </div>
</div>