<% flash.each do |level, message| %>
  <div class="<%= flash_class(level) %>">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      &times;
    </button>
    <%= message %>
  </div>
<% end %>

<div id="search-container">
  <%= render 'layouts/nav' %>

  <div id="row">
      <h1>Filmetric: <br><small>the gap between critics & audience</small></h1>
  </div>

  <div id="row">
    <div class="form-group" id="search-box"> 
        <%= form_tag searches_path, { :method => :get, :class => "form-inline" }  do %> 
          <%= label_tag :category, "Category", :class => "sr-only" %>
          <%= select_tag :category, 
            "<option>Movie</option>
             <option>Actor</option>
             <option>Director</option>
             <option>Genre</option>".html_safe, :class => "form-control input-lg", :id => "categories" %>

          <%= label_tag :q, "Search", :class => "sr-only" %>
          <%= text_field_tag :q, "", :class => "form-control input-lg", :autofocus => true %>
          
          <%= submit_tag "Search", :class => "btn btn-lg btn-primary", :id => "search-button" %>
        <% end %>
    </div>
  </div>

  <div id="row">
    <div id="strip-wrapper">
      <div id="film-strip">
        <% her = Movie.find_by(title: "Her") %>
        <% gravity = Movie.find_by(title: "Gravity") %>
        <% children = Movie.find_by(title: "Children of Men") %>
        <% die = Movie.find_by(title: "Die Hard") %>
        <% avatar = Movie.find_by(title: "Avatar") %>
        <% ghostbusters = Movie.find_by(title: "Ghostbusters") %>
        <% movies = [her, gravity, children, die, avatar, ghostbusters] %>
        <% i = 0 %>
        
        <% movies.each do |movie| %>
          <a href="<%= movie_path(movie) %>"><img id="poster-thumbnail" src="<%= movie.poster_link %>"
          style="left: <%= 17 + i %>px;"></a>
          <% i += 250 %>
        <% end %>  
      </div>
    </div>
  </div>
</div>