<% flash.each do |level, message| %>
  <div class="<%= flash_class(level) %>">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      &times;
    </button>
    <%= message %>
  </div>
<% end %>

<div id="search-container">
  <%= render 'layouts/nav' %>

  <div id="row">
      <h1>Filmetric: <br><small>the gap between critics & audience</small></h1>
  </div>

  <div id="row">
    <div class="form-group" id="search-box">
        <%= form_tag searches_path, { :method => :get, :class => "form-inline" }  do %>
          <%= label_tag :category, "Category", :class => "sr-only" %>
          <%= select_tag :category,
            "<option>Movie</option>
             <option>Actor</option>
             <option>Director</option>
             <option>Genre</option>".html_safe, :class => "form-control input-lg", :id => "categories" %>

          <%= label_tag :q, "Search", :class => "sr-only" %>
          <%= text_field_tag :q, "", :class => "form-control input-lg", :autofocus => true %>

          <%= submit_tag "Search", :class => "btn btn-lg btn-primary", :id => "search-button" %>
        <% end %>
    </div>
  </div>

  <div id="row">
    <%#= render 'film_strip' %>
  </div>
</div>
